.document-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .document-page__content {
        max-width: 1156px;
        margin:20px 0px 0px 40px ;
        .document-page__navigation {
            
    
            font-size: small;
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-gap: 10px;
            
            .navigation__circle {
                width: 5px;
                height: 5px;
                background-color: black;
                border-radius: 25px;
            }
            .navigation__item {
                text-wrap: nowrap;
                color: black;
                font-weight: 600;
                .navigation__span {
                    color: #8F8F8F ;
                }
            }
        }
        .document-page__title {
            margin-top: 20px;
        }
        .document-page__subtitles {
            margin-top: 25px;
        
            .document-page__subtitles__text {
                
                padding-right: 20px;
                padding-bottom: 20px;
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                grid-gap: 20px;
                
                
            }
        }
    }
    
}




@media(max-width: 530px) {
    .document-page__navigation {
      flex-direction: column !important;
        align-items: flex-start !important;
    }
}

@media(max-width: 468px) {
    .document-page__title {
        text-align: center;
        padding-right: 20px;
    }
    .document-page__subtitles__text {
      flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }
}