@import 'variables';
@mixin flex-row {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    align-items: center;
}

@mixin input($width) {
    border: 1px solid #BCBCBC;
    height: 40px;
    outline: none;
    border-radius: 5px;
    width: $width;
    padding: 10px;
    
   
}

@mixin button-hover {
    transition: 0.2s ease;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
}